ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}

a{
    font-weight: bolder;
}

.ImageContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.image{
    margin-left: 10%;
}

.SixteenByNine{
    border-radius: 8px;
    width:calc(40vw);
}